@import './variable.scss';

html,
body,
#app {
  height: calc(100vh - 92px);
  margin: 0;
  padding: 0;
}

html {
  background: $w-bg;
  color: $w-text-color;
  transition: color .25s, background .25s;
  --border-color: #97979733;

  &.dark {
    background: $d-bg;
    color: $d-text-color;
    --border-color: #5454547a;
  }
}